<div class="row" >
    <div class="col-12">
        <table class="table table-bordered  " >
            <thead>
                <tr>
                    <th>Sr No</th>
                    <th>Name</th>
                  
                    <th>Phone</th>
               
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of usersArray;let i= index">
                    
                    <td appHighlight>{{i+1}}</td>
                    <td (dblclick)="onEdit(user,'name')" appHighlight>
                        <div class="row" *ngIf="user.editFieldName == 'name'">
                            <div class="col-9">
                                <input type="text" [(ngModel)]="user.name" class="form-control" #namedata/>
                            </div>
                            <div class="col-3 text-center">
                                <button class="btn btn-light" (click)="Edit(user, namedata.value,'name')"  ng-model="data"> save</button>
                            </div>
                        </div> 
                        <div *ngIf="user.editFieldName !== 'name'">
                            {{user.name}}
                        </div> 
                    </td>
                   
                 
                    <td (dblclick)="onEdit(user,'phone')" appHighlight>
                        <div class="row" *ngIf="user.editFieldName == 'phone'">
                            <div class="col-9">
                                <input type="text" [(ngModel)]="user.phone" class="form-control" #phonedata />
                            </div>
                            <div class="col-3 text-center">
                                <button class="btn btn-light" (click)="Edit(user, phonedata.value,'phone')"  ng-model="data">Save</button>

                            </div>
                        </div>
                        <div *ngIf="user.editFieldName !== 'phone'">
                            {{user.phone}}
                        </div> 
                    </td>
                   
                    
                </tr>
            </tbody> 
        </table>
    </div>
</div>